 	body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #331;
            color: #fff;
            padding: 18px;
            text-align: center;
        }
        nav {
            background-color: #442;
            color: #fff;
            text-align: center;
            padding: 8px 0;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 10px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .container {
            max-width: 90%;
            margin: 18px auto;
            padding: 0 20px;
        }
        footer {
            background-color: #331;
            color: #fff;
            text-align: center;
            padding: 8px;
            position: fixed;
            bottom: -2;
            width: 98%;
        }

